extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src=`/img/destinos_${viaje.imagen}_ln.jpg`, alt="Imagen Viaje", class="img-fluid")
            .col-md-7
                h1 #{viaje.titulo}
                p
                    svg.icon.icon-tabler.icon-tabler-calendar-event(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#2c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z')
                        path(d='M16 3l0 4')
                        path(d='M8 3l0 4')
                        path(d='M4 11l16 0')
                        path(d='M8 15h2v2h-2z')

                    | #{viaje.fecha_ida} - #{viaje.fecha_vuelta}

                p 
                    svg.icon.icon-tabler.icon-tabler-tag(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#2c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        circle(cx='8.5' cy='8.5' r='1' fill='currentColor')
                        path(d='M4 7v3.859c0 .537 .213 1.052 .593 1.432l8.116 8.116a2.025 2.025 0 0 0 2.864 0l4.834 -4.834a2.025 2.025 0 0 0 0 -2.864l-8.117 -8.116a2.025 2.025 0 0 0 -1.431 -.593h-3.859a3 3 0 0 0 -3 3z')
                    | #{viaje.precio}

                p 
                    svg.icon.icon-tabler.icon-tabler-users(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#2c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0')
                        path(d='M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2')
                        path(d='M16 3.13a4 4 0 0 1 0 7.75')
                        path(d='M21 21v-2a4 4 0 0 0 -3 -3.85')

                    | #{viaje.disponibles} lugares disponibles

                p= viaje.descripcion
